body {
    background-color: #001f3f;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.container {
    text-align: center;
}
  
.hidden {
    display: none;
}
  
#quizBox {
    background-color: #003366;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
  
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  